body {
    padding: 100px 60px 100px 60px;
    background-color: hsl(0, 0%, 98%);
}
main {
    background-color: white;
    padding: 20px 20px 20px 20px;
}
header {     
    width: 100%;
    display: flex;
}

#logo {
    padding: 20px 20px 20px 20px;
}

ul {
    list-style: none;
}

.menu_left ul{
    
    margin-left: 10px;
    margin-top: 20px;
    
}

.menu_left li{

    font-size: 18px;
    font-family: "Montserrat";
    color: black;
    font-weight: 300;
    float: left;
    padding-right: 60px;

}

.menu_right ul{
    margin-top: 20px;
    margin-left: 180px;
    display:flex;
}

.menu_right li{

    font-size: 18px;
    font-family: "Montserrat";
    color: black;
    font-weight: 300;
    float: right;
    padding-left: 60px;

}

.menu_right button {
    
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Montserrat";
    color: black;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
    margin-right: 20px;
}

h1 {
    text-align: justify;
    margin-top: 180px;
    font-size: 80px;
    font-family: "Montserrat";
    color: black;
    font-weight: 700;
    margin-left: 160px;

}

#title {
    margin-top: -20px;
}

h2 {
    text-align: justify;
    margin-top: 30px;
    font-size: 25px;
    font-family: "Montserrat";
    color: black;
    font-weight: 300;
    margin-left: 160px; 
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#learn {
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Montserrat";
    color: white;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin-left: 160px;
    margin-top: 30px;

}

.logos ul{
    display: flex;
    margin-top: 140px;
    margin-left: 120px;
}

.logos li{
    padding-right: 50px;
}


.attribution { 
    font-size: 11px; text-align: right; 
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
