body {
    padding: 100px 60px 100px 60px;
    background-color: hsl(0, 0%, 98%);
    width: 1440px;
}
main {
    background-color: white;
    padding: 20px 20px 20px 20px;
}
header {     
    width: 100%;
    display: flex;
}

#logo {
    padding: 20px 20px 20px 20px;
}

ul {
    list-style: none;
}

.menu_left ul{
    
    margin-left: 10px;
    margin-top: 20px;
    
}

.menu_left li{

    font-size: 18px;
    font-family: "Epilogue";
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    float: left;
    padding-right: 60px;

}

.menu_right ul{
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 20px;
    display:flex;
}

.menu_right li{

    font-size: 18px;
    font-family: "Epilogue";
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    float: right;
    padding-left: 60px;

}

.menu_right button {
    
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Epilogue";
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
    margin-right: 0px;
}
/* Dropdown Button Features*/
.dropbtn1 {
    background-color: white;
    color: hsl(0, 0%, 41%);
    padding: 0px;
    font-size: 18px;
    font-family: "Epilogue";
    font-weight: 500;
    border: none;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn1:hover, .dropbtn1:focus {
    background-color: #2980B9;
}
  
/* The container <div> - needed to position the dropdown content */
.features {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.features-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.features-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.features-content a:hover {
    background-color: #ddd;
}
  
/* Show the features menu */
.showF {
    display:block;
}

/* Dropdown Button Company*/
.dropbtn2 {
    background-color: white;
    color: hsl(0, 0%, 41%);
    padding: 0px;
    font-size: 18px;
    font-family: "Epilogue";
    font-weight: 500;
    border: none;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
    background-color: #2980B9;
}
  
/* The container <div> - needed to position the dropdown content */
.company {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.company-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.company-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.company-content a:hover {
    background-color: #ddd;
}
  
/* Show the company menu */
.showC {
    display:block;
}

.img {
    display: inline-flex;
    justify-content: flex-start;
    height: 630px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 0px;
    padding: 0px;
}

.text{
    padding-left: 140px;
}

h1 {
    text-align: justify;
    margin-top: 140px;
    font-size: 70px;
    font-family: "Epilogue";
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    

}

#title {
    margin-top: 10px;
} 

h2 { 
    text-align: justify;
    margin-top: 30px;
    font-size: 22px;
    font-family: "Epilogue";
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#learn {
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Epilogue";
    color: white;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;

}


.logos ul{
    display:inline-flex;
    margin-top: 140px;
    padding-left: 0px;
    
}

.logos li{
    padding-right: 50px;
} 


.attribution { 
    font-size: 11px; text-align: right; 
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
